<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>An empty Objective-C class.</string>
	<key>Summary</key>
	<string>An empty Objective-C class.</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.c-source</string>
		<string>public.objective-c-plus-plus-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>File</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.m</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Name:</string>
			<key>Description</key>
			<string>The name of the class to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>cocoaSubclass</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Subclass of:</string>
			<key>Description</key>
			<string>What class to subclass in the new file</string>
			<key>Type</key>
			<string>class</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>licenseChoice</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>License:</string>
			<key>Description</key>
			<string>The license to use</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>MIT</string>
			<key>Values</key>
			<array>
				<string>Proprietary</string>
				<string>MIT</string>
				<string>BSD</string>
				<string>BOOST</string>
				<string>GPL</string>
			</array>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>importFoundationChoice</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Use Foundation:</string>
			<key>Description</key>
			<string>Use the Foundation framework</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>No</string>
			<key>Values</key>
			<array>
				<string>No</string>
				<string>Module</string>
				<string>Header</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
